
*{
    margin:0;
    padding:0;
}
.fundoPartners{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.topPartners{
    position: fixed;
    top: 0vh;
    background-color: white;
    width: 100vw;
    height: 10vh;
    font-family: Pristina;
    font-size: 20pt;
    color:  red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 1px 5px red;

    
}
.buttonPartners{
    border: solid;
    border-color: transparent;
    background-color: transparent;
    font-family: Felix Titling;
    width: 10vw;
    height: 9.3vh;
    color:  red;

    font-size: 12pt;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonPartners:hover{
    background-color:   red;

    color: white;
}

.textPartners{
    position: relative;
    width: 100vw;
    font-family: Felix Titling;
    font-size: 50pt;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}
.containerPartners{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardPartners1{
    position: relative;
    margin-top: 15vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.cardPartners2{
    position: relative;
    margin-top: 15vh;
    background-color:    red;
    transition: all 1s;
    width: 100vw;
    height: 10vh;
    text-align: justify;
    color: WHITE;
    font-family:Felix Titling;
    font-size: 10pt;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 1px 5px white;


}
.individualCardPartners{
width: 18vw;
height: 20vh;
font-size: 10pt;
background-color:  red;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: justify;
font-family:Felix Titling;
font-size: 12pt;
color: white;
border-radius: 5px;


}

.footerPartners{
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 5vh;
    font-family:Pristina;
    font-size: 8pt;
    color:  red;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    
}
