
*{
    margin:0;
    padding:0;
}
.fundoContacts{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.topContacts{
    position: fixed;
    top: 0vh;
    background-color: white;
    width: 100vw;
    height: 10vh;
    font-family: Pristina;
    font-size: 20pt;
    color:  black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 1px 5px rgb(0, 0, 0);

    
    
}
.buttonContacts{
    border: solid;
    border-color: transparent;
    background-color: transparent;
    font-family: Felix Titling;
    width: 10vw;
    height: 9.3vh;
    color:  black;
    font-size: 12pt;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContacts:hover{
    background-color: black;
    color: white;
}

.textContacts{
    position: relative;
    width: 100vw;
    font-family: Felix Titling;
    font-size: 50pt;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerContacts{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardContacts1{
    position: relative;
    margin-top: 15vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
}
.cardContacts2{
    position: relative;
    margin-top: 15vh;
    background-color:   rgb(0, 0, 0);
    transition: all 1s;
    width: 100vw;
    height: 10vh;
    text-align: justify;
    color: WHITE;
    font-family:Felix Titling;
    font-size: 10pt;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 1px 5px white;

}
.individualCardContacts{
width: 10vw;
height: 16vh;
font-size: 12pt;
background-color: transparent;
color:white;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: justify;
border-radius: 5px;
}
.footerContacts{
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 5vh;
    font-family:Pristina;
    font-size: 8pt;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    
}
